* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  padding: 1em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
  color: #ffffff;
}

nav h1 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 1em;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

.hero {
  max-width: 1200px;
  margin: 2em auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-basis: 45%;
}

.col img {
  width: 100%;
}

.col:last-of-type {
  text-align: center;
}
